.chat {
	position: fixed;
	bottom: 0;
	right: 30px;
	display: flex;
	max-width: calc(100% - 60px);
	width: 700px;
	height: 500px;
	background-color: $white;
	border-radius: 20px 20px 0 0;
	box-shadow: 6px -6px 30px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(100%);
	transition: transform 0.3s ease;

	@include max(t) {
		right: 10px;
		max-width: calc(100% - 20px);
	}

	&--opened {
		transform: translateY(0);
	}

	&__label {
		position: absolute;
		top: -40px;
		right: 20px;
		width: 120px;
		height: 40px;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		border-radius: 10px 10px 0 0;
		background: linear-gradient(90deg, #7cb8f7 0%, #2a8bf2 100%);
		box-shadow: 3px -3px 15px 0 rgba(0, 0, 0, 0.2);
		font-size: 16px;
		color: $white;
		cursor: pointer;

		&:hover svg {
			transform: scale(-1, 1);
		}

		svg {
			color: $white;
			transition: 0.3s ease;
		}
	}

	&__new-messages-count {
		position: absolute;
		bottom: 3px;
		right: 3px;
	}

	&__users {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 70px;
		max-width: 70px;
		height: 100%;
		padding: 10px 0;
		border-right: 1px solid rgba(112, 124, 151, 0.1);
		overflow-y: auto;

		@include max(ti) {
			max-width: 100%;
			width: 100%;
		}

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			background: $grey-9c;
			border-radius: 5px;
		}
	}

	&__user {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 5px 0;
		cursor: pointer;

		@include max(ti) {
			align-items: center;
			justify-content: flex-start;
			gap: 15px;
			padding: 10px 40px 10px 20px;
		}

		&:not(:first-child) {
			border-top: 2px solid rgba(112, 124, 151, 0.1);
		}
	}

	&__user-group {
		display: none;

		@include max(ti) {
			display: block;
			max-width: calc(100% - 100px);
		}
	}

	&__user-name {
		font-size: 18px;
		line-height: 1.2;
		text-transform: capitalize;

		@include max(t) {
			font-size: 16px;
		}
	}

	&__user-last-message {
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__time {
		position: absolute;
		bottom: 4px;
		right: 10px;
		display: none;
		font-size: 10px;

		@include max(ti) {
			display: block;
		}
	}

	&__dialog {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		@include max(ti) {
			display: none;
		}
	}
}