.chat {
	position: fixed;
    bottom: 0;
    left: 30px;
    display: flex;
    max-width: calc(100% - 60px);
    width: 700px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 6px -6px 30px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    transition: transform 0.3s ease;

	@include max(t) {
		left: 10px;
		max-width: calc(100% - 20px);
	}

	&--opened {
		transform: translateY(0);
	}

	&__label {
		position: absolute;
		top: -40px;
		left: 10px;
		width: auto;
		height: 40px;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		border-radius: 10px 10px 0 0;
		background: linear-gradient(90deg, #62c462 0, #51a351 100%);
		box-shadow: 3px -3px 15px 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;

		&:hover svg {
			transform: scale(-1, 1);
		}

		svg {
			color: #fff;
			transition: 0.3s ease;
		}
	}

	&__new-messages-count {
		color: #fff;
	}

	&__users {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 70px;
		width: 100%;
		height: 100%;
		border-right: 1px solid rgba(112, 124, 151, 0.1);
		overflow: auto;
		transition: max-width 0.3s ease;

		@include max(ti) {
			max-width: 100%;
			width: 100%;
		}

		&--select {
			max-width: 200px;

			@include max(ti) {
				max-width: 100%;
			}
		}

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			background: #006dcc;
			border-radius: 5px;
		}
	}

	&__search {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60px;
		padding: 10px;
		box-sizing: border-box;
		cursor: pointer;

		&:hover svg {
			transform: scale(1.1);
		}

		svg {
			color: #006dcc;
			transition: 0.3s ease;
		}

		select {
			position: absolute;
			top: 0;
			left: 70px;
			z-index: 1;
			width: calc(100% - 70px);
			height: 60px;
			border: 2px solid rgba(112, 124, 151, 0.1);
			box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
			background-color: #fff;
			border-radius: 20px;
			padding: 5px 10px;
			cursor: pointer;
			font: inherit;
			outline: 0;

			@include max(t) {
				left: 0;
        		width: 100%;
			}
		}
	}

	#chat_contact {
		width: 100%;
	}

	&__user {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: auto;
		padding: 5px 0;
		border-top: 2px solid rgba(112, 124, 151, 0.1);
		cursor: pointer;
		box-sizing: border-box;

		@include max(ti) {
			align-items: center;
			justify-content: flex-start;
			gap: 15px;
			padding: 10px 40px 10px 20px;
		}
	}

	&__user-group {
		display: none;

		@include max(ti) {
			display: block;
			max-width: calc(100% - 100px);
		}
	}

	&__user-name {
		font-size: 18px;
		line-height: 1.2;
		text-transform: capitalize;

		@include max(t) {
			font-size: 16px;
		}
	}

	&__user-last-message {
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__time {
		position: absolute;
		bottom: 4px;
		right: 10px;
		display: none;
		font-size: 10px;

		@include max(ti) {
			display: block;
		}
	}

	&__dialog {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		@include max(ti) {
			display: none;
		}
	}
}