.dialog-row {
	$parent: &;

	position: relative;
    display: inline-block;
    max-width: 75%;
	min-width: 90px;
    background-color: #e6e6e6;
    box-shadow: 10px 10px 25px rgba(230, 230, 230, .1), 15px 15px 35px rgba(230, 230, 230, .05), 10px 10px 50px rgba(230, 230, 230, .1);
    border-radius: 0 10px 10px 10px;
    padding: 15px 15px 20px;

	&__text {
		color: #000;
		font-size: 14px;
		line-height: 1.5;
	}

	&__time {
		position: absolute;
		bottom: 4px;
		right: 10px;
		color: rgba(0, 0, 0, 0.7);
		font-size: 10px;
	}

	&--personal {
		align-self: flex-end;
		background: #fff;
		border: 1px solid rgba(112, 124, 151, .25);
		box-shadow: 10px 10px 25px rgba(112, 124, 151, .05), 15px 15px 35px rgba(112, 124, 151, 0.05);

		#{$parent} {
			&__text {
				color: #000;
			}

			&__time {
				color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}