.send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: calc(100% - 20px);
    height: 90px;
    margin: 0 10px;
    border-top: 2px solid rgba(112, 124, 151, 0.15);

	&__input {
		font: inherit;
		background-color: transparent !important;
		border: 0 !important;
		border-radius: 0 !important;
		outline: 0;
		flex-grow: 1;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 10px !important;
		color: #000 !important;
		font-size: 16px !important;
		box-shadow: none !important;

		&::placeholder {
			color: rgba(0, 0, 0, 0.3);
			font-size: 16px;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: #006dcc;
		border-radius: 50%;
		overflow: hidden;
		transition: 0.3s ease;
		box-shadow: 4px 4px 25px rgba(0, 109, 204, 0.15), 2px 2px 25px rgba(0, 109, 204, 0.05), 4px 6px 10px rgba(0, 109, 204, 0.15);
		cursor: pointer;
		font: inherit;
		border: 0;
		outline: 0;

		&:hover {
			opacity: 0.8;
		}

		svg {
			color: #fff;
			transform: translateX(-2px) rotate(45deg);
		}
	}
}