.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	min-height: 102px;
	padding: 8px 25px;
	border-top-right-radius: 20px;
	background-color: $grey-fa;
	border-bottom: 2px solid rgba(112, 124, 151, 0.1);

	@include max(t) {
		gap: 10px;
		padding: 10px;
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 20px;

		@include max(t) {
			gap: 10px;
		}
	}

	&__name {
		font-size: 18px;
		line-height: 1.2;
		text-transform: capitalize;

		@include max(t) {
			font-size: 16px;
		}
	}

	&__status {
		color: $green;
		font-size: 14px;
		margin-top: 5px;

		&--offline {
			color: $red;
		}
	}
}