/* Breakpoints */
$media-list: (
	'm': 0,
	't': 576,
	'ti': 768,
	'tl': 992,
	'd': 1280,
	'dl': 1440,
	'dxl': 1680,
);

/* Fonts */
$mainFont: 'Montserrat', sans-serif;
$secondFont: 'NeoSansPro', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$grey-9c: #9c9c9c;
$grey-fa: #fafbff;
$blue: #2a8bf2;
$red: #e31010;
$green: #18c900;
